<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.getalp.ligaikuma.lig_aikuma.lig_aikuma"
          android:versionCode="3"
          android:versionName="3.1">

    <uses-sdk android:minSdkVersion="14"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name="org.getalp.ligaikuma.lig_aikuma.ModeSelection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.RecordingMetadata"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name="org.getalp.ligaikuma.lig_aikuma.ui.LanguageFilterList"/>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.RecordActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="org.getalp.ligaikuma.lig_aikuma.ui.RespeakingFileExplorer"/>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.RespeakingMetadata"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.ThumbRespeakActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.ThumbRespeakSummary"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.ElicitationMode"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.ElicitationRecord"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.CheckMode"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.CheckWordVariant"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="org.getalp.ligaikuma.lig_aikuma.ui.CheckTranscription"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="org.getalp.ligaikuma.lig_aikuma.ui.SpeakerProfile"/>
        <activity android:name="org.getalp.ligaikuma.lig_aikuma.ui.ShareFile"/>
        <activity android:name="org.getalp.ligaikuma.lig_aikuma.ui.ElicitationFileExplorer"/>
    </application>

</manifest>